
<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Detalles Pasaje</h1>
        </div>
    </div>
    <div class="row details-row-top">
        <div class="col columna-container" id="recibo-pasaje">
            <div class="row justify-content-between">
                <div class="col-12 col-sm-4">
                    <p><strong>Pasaje No: </strong>{{pasaje.id_pasaje}}</p>
                    <p><strong>Fecha: </strong>{{pasaje?.viaje?.turno?.fecha| date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-12 col-sm-7">
                    <p class="text-md-right"><strong>Terminal de Buses {{pasaje?.viaje?.conductore?.sindicato?.ciudad}}, Sindicato: </strong>{{pasaje?.viaje?.conductore?.sindicato?.nombre}}</p>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12 col-sm-4">
                    <strong>Info. Pasajero</strong>
                    <p>Nombre: {{pasaje.nombre_completo}}</p>
                    <p>Celular: {{pasaje.celular}}</p>
                    <p>CI: {{pasaje.carnet_pasajero}}</p>
                </div>
                <div class="col-12 col-sm-6">
                    <p class="text-md-right"><strong >Info. Sindicato</strong></p>
                    <p class="text-md-right">Sindicato: {{pasaje?.viaje?.conductore?.sindicato?.nombre}}</p>
                    <p class="text-md-right">Ciudad: {{pasaje?.viaje?.conductore?.sindicato?.ciudad}}<p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="text-md-right"><strong>Desde: </strong>{{pasaje?.viaje?.origen}}</p>
                    <p class="text-md-right"><strong>A: </strong>{{pasaje?.viaje?.destino}}</p>
                    <p class="text-md-right"><strong>Nombre: </strong>{{pasaje.nombre_completo}}</p>
                    <p class="text-md-right"><strong>Asiento: </strong>{{pasaje.asiento}}</p>
                </div>
                <div class="col-12 col-sm-6">
                    <p><strong>Salida: </strong>{{pasaje?.viaje?.hora_salida}}</p>
                    <p><strong>Llegada: </strong>{{pasaje?.viaje?.hora_llegada}} </p>
                    <p><strong>Numero Viaje: </strong>{{pasaje?.viaje?.id_viaje}}</p>
                    <p><strong>Fecha: </strong>{{pasaje?.viaje?.turno?.fecha| date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive box-card-parent">
                    <table aria-describedby="tabla-detall-recibo-pasaje" class="table table-striped">
                        <thead class="thead-pasaje">
                        <tr>
                            <th scope="col">Detalle</th>
                            <th scope="col">Precio</th>
                            <th class="text-right" scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col">Ticket de pasaje</th>
                            <th scope="col">{{pasaje.precio}}</th>
                            <th class="text-right" scope="col">{{pasaje.precio}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-3">
                    <p class="text-right"><strong>TOTAL</strong></p>
                </div>
                <div class="col-4">
                    <p class="text-right"><strong>{{pasaje.precio}} BS</strong></p>
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    <p><strong>NOTA:</strong></p>
                    <p>EL presente documento tiene valor a nivel nacional respaldado por el sindicato.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row sections-buttons">
        <div class="text-center"><button class="btn button-cancelar" (click)="Cancelar()">Atras</button></div>
        <div *ngIf="ValidarVista()" class="text-center"><button class="btn button-editar" (click)="Editar(pasaje.id_pasaje,pasaje.id_viaje)">Editar</button></div>
        <div class="text-center"><button class="btn button-imprimir" (click)="Imprimir()">Imprimir</button></div>
        <div class="text-center"><button class="btn button-descargar" (click)="ExportarPDF()">Descargar PDF</button></div>
    </div>
</div>
