<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
      <div class="col-12 col-ubicacion">
          <h1>Pasajes {{ nombreSindicato? '| Sindicato '+nombreSindicato:''}}</h1>
      </div>
    </div>
    <div class="row operation-section">
      <div [ngClass]="ValidarVista()?'col-sm-4 col-md-3' : 'col-sm-4'">
        <select name="tipo_busqueda" [(ngModel)]="parametroBusqueda" (ngModelChange)="Filtrar()" (click)="cadenaBusqueda=''" class="form-control">
          <option disabled selected value="undefined">Buscar por</option>
          <option>Nombre Cliente</option>
          <option>Fecha</option>
        </select>   
      </div>

      <div *ngIf="parametroBusqueda===undefined || parametroBusqueda==='Nombre Cliente'" [ngClass]="ValidarVista()?'col-sm-8 col-md-7' : 'col-sm-8'">
          <input type="text" name="cadenaBusqueda" class="input-search form-control" [(ngModel)]="cadenaBusqueda" (ngModelChange)="Filtrar()" placeholder="Ej. Ramiro Colque">
      </div>
      <div *ngIf="parametroBusqueda==='Fecha'" [ngClass]="ValidarVista()?'col-sm-8 col-md-7' : 'col-sm-8'">
        <input type="date" name="cadenaBusqueda" class="input-search form-control" [(ngModel)]="cadenaBusqueda" (ngModelChange)="Filtrar()" placeholder="Ej. Ramiro Colque">
      </div>
        <div *ngIf="ValidarVista()" class="col-sm-12 col-md-2 btn-new">
          <button (click)="RedirigirCrearPasaje()" class="btn">Crear Pasaje</button>
        </div>
    </div>
    <div class="row row-container">
        <div class="table-responsive box-card-parent">
            <table class="table table-striped tabla-pasajes">
                <thead class="thead-pasajes">
                  <tr>
                    <th scope="col" class="text-center">Cod. Pasaje</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Cliente</th>
                    <th scope="col" class="text-center">Precio</th>
                    <th scope="col" class="text-center">Pagado</th>
                    <th *ngIf="ValidarVista()" scope="col"></th>
                    <th *ngIf="ValidarVista()" scope="col"></th>

                  </tr>
                </thead>
                <tbody *ngFor="let pasaje of pasajesFiltrados">
                  <tr>
                    <td class="text-center">{{pasaje.id_pasaje}}</td>
                    <th class="text-center">{{pasaje.viaje?.fecha| date:'dd MMMM yyyy':'+0200':'es-AR'}}</th>
                    <td class="text-center">{{pasaje.nombre_completo}}</td>
                    <td class="text-center">{{pasaje.precio}}</td>
                    <td class="text-center">{{pasaje.pagado===true? "Pagado" : "Por pagar"}}</td>
                    <td *ngIf="ValidarVista()"><a class="btn btn-table btn-ver-recibo" (click)="AbrirPasaje(pasaje.id_pasaje)">Recibo</a></td>
                    <td *ngIf="ValidarVista()"><a class="btn btn-table btn-editar-pasaje" (click)="EditarPasajes(pasaje.id_pasaje,pasaje.id_viaje)">Editar</a></td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="pasajes?.length === 0" class="empty-table-message">Sin Pasajes</div>
        </div>
    </div>
</div>
