<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row operation-section">
        <div class="col-sm-8 col-md-8">
            <input type="text" name="nombre_pasaje" class="input-search form-control" placeholder="Ej. Ramiro Colque">
        </div>
        <div class="col-sm-4 col-md-4">
            <select name="tipo_busqueda" class="form-control">
                <option>Nombre</option>
                <option>Codigo pasaje</option>
                <option>Fecha</option>
            </select>   
        </div>
    </div>
    <div class="row row-container">
        <div class="table-responsive box-card-parent">
            <table class="table table-striped tabla-pasajes">
                <thead class="thead-pasajes">
                  <tr>
                    <th scope="col" class="text-center">Cod. Pasaje</th>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">Cliente</th>
                    <th scope="col" class="text-center">Precio</th>
                    <th scope="col" class="text-center">Pagado</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let pasaje of pasajes">
                  <tr>
                    <th class="text-center">{{pasaje.id_pasaje}}</th>
                    <th class="text-center">{{pasaje.viaje?.fecha| date:'dd MMMM yyyy':'+0200':'es-AR'}}</th>
                    <td class="text-center">{{pasaje.nombre_completo}}</td>
                    <td class="text-center">{{pasaje.precio}}</td>
                    <td class="text-center">{{pasaje.pagado===true? "Pagado" : "Por pagar"}}</td>
                    <td><a class="btn btn-table btn-detalles" (click)="abrirPasaje(pasaje.id_pasaje)">Opciones</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
