.image-top{
    width: 100%;
    margin-top: -70px;
    max-height: 370px;
    filter: brightness(50%);
}

.container{
    padding-top: 20px;
    margin-bottom: 20px;
}

.title-page{
    font-size: 20px;
    padding-left: 15px;
    color: #4E4E4E;
    font-weight: 550;
}

.operation-section{
    background-color: #EDEDED;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 3px 3px 3px;
}

.input-operation-section-title{
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #4E4E4E;
    margin-left: 5px;
    margin-bottom: 3px;
}

.btn-formulario-turnos{
    width: 100%;
    margin-top: 22px;
    border: 1px solid #FB9130;
    background: white;
    border-radius: 100px;
    font-weight: 450;
    font-size: 15px;
    color: #4E4E4E;
}

.btn-confirmar{
    margin-top: 22px;
    background-color: #FB9130;
    border-radius: 100px;
    margin-left: 7px;
    color: white;
    float: right;
}

.btn-cancelar{
    margin-top: 22px;
    border-radius: 100px;
    float: right;
    border: 1px solid #FB9130;
    background-color: #FFFFFF;  
}

.table th, .table td {
    vertical-align: middle;
}

.btn-borrar-viaje{
    background-color: #FB9130;
    color: white;
    border-radius: 100px;
}

.turnos-section{
    width: 90%;
    margin: auto;
    border: 4px solid #EDEDED;
    border-radius: 3px;
    margin-top: 10px;
}

.operation-turnos-section{
    background-color: #EDEDED;
    padding-bottom: 8px;
    padding-top: 8px;
}

.btn-agregar{
    margin-top: 22px;
    background-color: #FB9130;
    border-radius: 100px;
    color: white;
    width: 100%;
}

.title-table-turnos{
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #4E4E4E;
    margin-bottom: 2px;
}

.fecha-table-turnos{
   margin-bottom: 25px;
    text-align: center;
    font-size: 15px;
    color: #4E4E4E;
}

@media (max-width: 767px) {
    .image-top{
        margin-top: -20px;
    }

}