<section class="main-image-page">
    <div class="row-image">
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title-page">REGISTRO DE TURNOS</h3>
        </div>
        <div class="col-sm-12">
            <form class="formulario-conductores" name="FormularioTurnos">
                <div class="row operation-section">
                    <div class="col-sm-2">
                        <h5 for="grupo" class="input-operation-section-title">Grupo</h5>
                        <input type="text" name="grupo" class="input-search form-control input-operation-section" [(ngModel)]="turno.grupo" (ngModelChange)="ValidarTurno('verificar')" >
                        <div *ngIf="!validacion.grupo" class="text-danger">{{mensajeErrorValidacion.grupo}}</div>  
                    </div>
                    <div class="col-sm-2">
                        <h5 for="fecha" class="input-operation-section-title">Fecha</h5>
                        <input type="date" name="fecha" class="input-search form-control input-operation-section" [(ngModel)]="turno.fecha" (ngModelChange)="ValidarTurno('verificar')" >
                        <div *ngIf="!validacion.fecha" class="text-danger">{{mensajeErrorValidacion.fecha}}</div>   
                    </div>
                    <div class="col-sm-8">
                        <button class="btn btn-confirmar" (click)="CrearTurno()">Confirmar Turnos</button>
                        <button class="btn btn-cancelar" (click)="Cancelar()">Cancelar</button>
                    </div>
                </div>
                <div class="col-12 turnos-section">
                    <div class="row operation-turnos-section">
                        <div class="col-sm-3">
                            <h5 for="turno" class="input-operation-section-title"># Turno</h5>
                            <input type="text" name="turno" class="input-search form-control input-operation-section" [(ngModel)]="formulario.turnoConductor" placeholder="Requerido">
                        </div>
                        <div class="col-sm-7">
                            <h5 for="conductor" class="input-operation-section-title" >Nombres</h5>
                            <select name="conductor" class="form-control" [(ngModel)]="formulario.carnetConductor">
                                <option selected disabled value=''>Seleccionar Conductor</option>
                                <option *ngFor='let c of conductores' [value]="c.carnet">{{c.nombre}} {{c.apellido_paterno}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-agregar" (click)="AgregarViaje()" [disabled]="!botonAgregarHabilitado">Agregar</button>
                        </div>
                    </div>
                    <div class="col-12">
                        <h1 class="title-table-turnos">PIZARRA DE TURNOS</h1>
                        <h5 class="fecha-table-turnos">10 de Marzo 2022</h5>
                    </div>
                    <div class="col-12">
                          <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="col-2" scope="col">#</th>
                                    <th class="col-7 text-center" scope="col">Nombre</th> 
                                    <th class="col-4" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of viajes">
                                    <td class="col-2">{{item.numero_turno}}</td>
                                    <td class="col-6 text-center">{{getConductorNombre(item.id_carnet_conductor)}}</td>
                                    <td class="col-4"><button class="btn btn-borrar-viaje" (click)="BorrarTurno(item.id_carnet_conductor)">Borrar</button></td>
                                </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div *ngIf="!validacion.viajes" class="text-danger">{{mensajeErrorValidacion.viajes}}</div>  
            </form>
        </div>
    </div>
</section>
