<div class="main-page-component">
    <div class="image-container">
        <img src="../../../../assets/imagenes/macheteroCortada.jpg" alt="" class="image-top">
    </div>
    <div class="container">
        <section class="sindicatos">
            <div class="row row-services-block">
                <div class="services-block col-lg-3 col-sm-6 col-6">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <img class="van-image-icon" src="../../../../assets/imagenes/van.png">
                            </div>
                            <span class="number">01</span>
                        </div>
                        <div class="lower-box">
                            <h3><a href="/servicio-sindicato">Sindicato Movima</a></h3>
                        </div>           
                        <h3 class="services-block-address">Parque Boris Banzer</h3>
                        <h3 class="services-block-celphone">Cel 71234567</h3>
                    </div>
                </div>
        
                <div class="services-block col-lg-3 col-sm-6 col-6">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <img class="van-image-icon" src="../../../../assets/imagenes/van.png">
                            </div>
                            <span class="number">02</span>
                        </div>
                        <div class="lower-box">
                            <h3><a href="/servicio-sindicato">Sindicato 1º Mayo</a></h3>
                        </div>           
                        <h3 class="services-block-address">Parque Boris Banzer</h3>
                        <h3 class="services-block-celphone">Cel 71234567</h3>
                    </div>
                </div>
        
        
                <div class="services-block col-lg-3 col-sm-6 col-6">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <img class="van-image-icon" src="../../../../assets/imagenes/van.png">
                            </div>
                            <span class="number">03</span>
                        </div>
                        <div class="lower-box">
                            <h3><a href="/servicio-sindicato">Sindicato 12 de Marzo</a></h3>
                        </div>           
                        <h3 class="services-block-address">Parque Boris Banzer</h3>
                        <h3 class="services-block-celphone">Cel 71234567</h3>
                    </div>
                </div>
        
                <div class="services-block col-lg-3 col-sm-6 col-6">
                    <div class="inner-box">
                        <div class="upper-box">
                            <div class="icon-box">
                                <img class="van-image-icon" src="../../../../assets/imagenes/van.png">
                            </div>
                            <span class="number">04</span>
                        </div>
                        <div class="lower-box">
                            <h3><a href="/servicio-sindicato">Sindicato Yacuma</a></h3>
                        </div>           
                        <h3 class="services-block-address">Parque Boris Banzer</h3>
                        <h3 class="services-block-celphone">Cel 71234567</h3>
                    </div>
                </div>
        
        
        
            </div>
        
        </section>
        
        <section class="anuncios">    
            <div class="vgr-cards">
                <div class="card">
                  <div class="card-img-body">
                    <img class="card-img" src="../../../../assets/imagenes/carreteraSantaAna.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Salidas diarias disponibles</h4>
                    <p class="card-text">Realizamos salidas diarias a Trinidad - San Joaquin - Guayara - Magdalea - San Ramon, cumpliendo con todos los protocolos de cuidado para tu saluda. Contamos con los mejores Minibuses disponibles en la ciudad, choferes certificados para el transporte de pasajeros. </p>
                    <div  class="info">
                        <ul>
                            <li>
                                <span class="caption">Sindicato:</span>
                                <span> Yacuma</span>
                            </li>
                            <li>
                                <span class="caption">Cel:</span>
                                <span> +591 71234567</span>
                            </li>
                        </ul>
                    </div>
                    
                  </div>
                </div>
            </div>
        
        </section>
    </div>
</div>

