<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Conductores {{ nombreSindicato? '| Sindicato '+nombreSindicato:''}}</h1>
        </div>
      </div>
    <div class="row operation-section">
        <div [ngClass]="ValidarVista()?'col-sm-4 col-md-3' : 'col-sm-4'">
            <select name="tipo_busqueda" [(ngModel)]="parametroBusqueda" (ngModelChange)="Filtrar()" (click)="cadenaBusqueda=''" class="form-control">
              <option disabled selected value="undefined">Buscar por</option>
              <option>Nombre Conductor</option>
              <option>Carnet</option>
            </select>   
          </div>
    
          <div *ngIf="parametroBusqueda===undefined || parametroBusqueda==='Nombre Conductor'" [ngClass]="ValidarVista()?'col-sm-8 col-md-7' : 'col-sm-8'">
              <input type="text" name="cadenaBusqueda" class="input-search form-control" [(ngModel)]="cadenaBusqueda" (ngModelChange)="Filtrar()" placeholder="Ej. Ramiro Colque">
          </div>
          <div *ngIf="parametroBusqueda==='Carnet'" [ngClass]="ValidarVista()?'col-sm-8 col-md-7' : 'col-sm-8'">
            <input type="number" name="cadenaBusqueda" class="input-search form-control" [(ngModel)]="cadenaBusqueda" (ngModelChange)="Filtrar()" placeholder="Ej. 10847851">
          </div>
    
        <div *ngIf="ValidarVista()" class="col-sm-12 col-md-2 btn-new">
            <a href="/conductores/formulario" class="btn">Crear Chofer</a>
        </div>
    </div>
    
    <div class="row row-container">
        <div class="box-card-parent col-md-6 col-lg-4 col-sm-12" *ngFor="let conductor of conductoresFiltrados">
            <div class="box-card row">
                <div class="panel-body-main col-sm-12">
                   <div class="panel-heading">
                        <h3 class="panel-title">{{conductor.nombre}} {{conductor.apellido_paterno}} {{conductor.apellido_materno}}</h3>
                    </div>

                    <div class="panel-body">
                        <div class="atributes-col col-sm-3">
                            <span class="attribute">Nacimiento:</span>
                            <span class="attribute">Carnet:</span>
                            <span class="attribute">Ciudad:</span>
                            <span class="attribute">Activo:</span>
                            <span class="attribute">Sindicato:</span>
                        </div>
                        <div class="value-col col-sm-9">
                            <span class="value">{{ conductor.fecha_nacimiento | date:'dd MMMM yyyy':'+0200':'es-AR'}}</span>
                            <span class="value"> {{conductor.carnet}}</span>
                            <span class="value"> {{conductor.ciudad}}</span>
                            <span class="value"> {{conductor.activo}}</span>
                            <span class="value"> {{conductor.id_sindicato}}</span>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <button *ngIf="ValidarVista()" class="btn btn-editar" (click)="editarConductor(conductor.carnet)">Editar </button>
                        <button *ngIf="ValidarVista()" class="btn btn-borrar" (click)="AbrilModalEliminar(conductor)">Borrar </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="conductoresFiltrados?.length === 0" class="col-12 empty-table-message">Sin Conductores</div>
    </div>
</div>









