<div class="sindicatos-main-component">
    <div class="image-container">
        <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
    </div>
    <div class="container">
        <div class="row top-row-ubication">
            <div class="col-12 col-ubicacion">
                <h1>Servicios Sindicato {{ nombreSindicato? '| '+nombreSindicato:''}}</h1>
            </div>
        </div>
        <div class="row">

            <div  class="col-sm-4 col-6"> 
                <a  class="link-box-part" [routerLink]="['/viajes']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/arrived.png">
                        </div>
                        <div class="text">
                            <span>Viajes</span>
                        </div>        
                    </div>
                </a>  
            </div>	

            <div class="col-sm-4 col-6">  
                <a class="link-box-part" [routerLink]="['/encomiendas']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/caja.png">
                        </div>
                        <div class="text">
                            <span>Encomiendas</span>
                        </div>             
                    </div>
                </a> 
            </div>	

                
            <div class="col-sm-4 col-6">  
                <a class="link-box-part" [routerLink]="['/reservas']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/reservado.png">
                        </div>
                        <div class="text">
                            <span>Reservas</span>
                        </div>             
                    </div>
                </a> 
            </div>	
            
            <div *ngIf="usuario!=null && id_sindicato===sindicato" class="col-sm-4 col-6">   
                <a class="link-box-part" [routerLink]="['/conductores']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/registrado.png">
                        </div>
                        <div class="text">
                            <span>Conductores</span>
                        </div>             
                    </div>
                </a>
            </div>
            
            <div *ngIf="usuario!=null && id_sindicato===sindicato" class="col-sm-4 col-6">   
                <a class="link-box-part" [routerLink]="['/turnos']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/cambio.png">
                        </div>
                        <div class="text">
                            <span>Turnos</span>
                        </div>             
                    </div>
                </a>
            </div>	
    

    
            <div *ngIf="usuario!=null && id_sindicato===sindicato" class="col-sm-4 col-6"> 
                <a class="link-box-part" [routerLink]="['/pasajes']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center" >    
                                        
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/pasajero.png">
                        </div>
                        <div class="text">
                            <span>Pasajes</span>
                        </div>            
                
                    </div>
                </a> 
            </div>	

    
            <div class="col-sm-4 col-6 mx-auto">   
                <a class="link-box-part" [routerLink]="['/anuncios']" [queryParams]="{id_sindicato: id_sindicato}">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/altoparlante.png">
                        </div>
                        <div class="text">
                            <span>Anuncios</span>
                        </div>             
                    </div>
                </a>
            </div>	
       </div>		
    </div>
</div>
