<div class="sindicatos-main-component">
    <div class="image-container">
        <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">   
                <a class="link-box-part" href="/conductores">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/registrado.png">
                        </div>
                        <div class="text">
                            <span>Conductores</span>
                        </div>             
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">   
                <a class="link-box-part" href="/turnos">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/cambio.png">
                        </div>
                        <div class="text">
                            <span>Turnos</span>
                        </div>             
                    </div>
                </a>
            </div>	
    
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">  
                <a class="link-box-part" href="/encomiendas">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/caja.png">
                        </div>
                        <div class="text">
                            <span>Encomiendas</span>
                        </div>             
                    </div>
                </a> 
            </div>	
    
            <div class="col-lg-4 col-md-4 col-sm-4 col-6"> 
                <a class="link-box-part" href="/">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/altoparlante.png">
                        </div>
                        <div class="text">
                            <span>Anuncios</span>
                        </div>             
                    </div>
                </a>  
            </div>	
    
            <div class="col-lg-4 col-md-4 col-sm-4 col-6"> 
                <a class="link-box-part" href="/viajes">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/arrived.png">
                        </div>
                        <div class="text">
                            <span>Salidas y Llegadas</span>
                        </div>             
                    </div>
                </a>  
            </div>	
    
            <div class="col-lg-4 col-md-4 col-sm-4 col-6">  
                <a class="link-box-part" href="/reservas">
                    <div class="box-part text-center">                      
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/reservado.png">
                        </div>
                        <div class="text">
                            <span>Reservas</span>
                        </div>             
                    </div>
                </a> 
            </div>	
    
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">   
                <a class="link-box-part" href="/pasajes">
                    <div class="box-part text-center" >    
                                        
                        <div class="title">
                            <img class="service-image-icon" src="../../../../assets/imagenes/pasajero.png">
                        </div>
                        <div class="text">
                            <span>Pasajes</span>
                        </div>            
                
                    </div>
                </a> 
            </div>	
       </div>		
    </div>
</div>
