
<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="col columna-container" id="pasaje">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="text-md-right"><b>Id Anuncio: </b>{{anuncio.id_anuncio}}</p>
                <p class="text-md-right"><b>Sindicato: </b>{{anuncio.sindicato?.nombre}}</p>
                <p class="text-md-right"><b>Fecha: </b>{{anuncio.fecha| date:'dd/MM/yyyy'}}</p>
                <p class="text-md-right"><b>Referencia: </b>{{anuncio.celular_referencia}}</p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="text-center"><b>{{anuncio.titulo}}</b></p>
                <p>{{anuncio.detalle}}</p>
            </div>
        </div>
    </div>
    <div class="row sections-buttons">
        <div class="text-center"><button class="btn button-atras" (click)="Atras()">Atras</button></div>
        <div class="text-center"><button class="btn button-editar" (click)="EditarAnuncio(anuncio.id_anuncio)">Editar Anuncio</button></div>
    </div>
</div>
