
<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Detalles Anuncio</h1>
        </div>
    </div>
    <div class="row details-row-top">
        <div class="col columna-container" id="pasaje">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <p class="text-md-right"><strong>Id Anuncio: </strong>{{anuncio.id_anuncio}}</p>
                    <p class="text-md-right"><strong>Sindicato: </strong>{{anuncio.sindicato?.nombre}}</p>
                    <p class="text-md-right"><strong>Fecha: </strong>{{anuncio.fecha| date:'dd/MM/yyyy'}}</p>
                    <p class="text-md-right"><strong>Referencia: </strong>{{anuncio.celular_referencia}}</p>
                </div>
                <div class="col-12 col-sm-6">
                    <p class="text-center"><strong>{{anuncio.titulo}}</strong></p>
                    <p>{{anuncio.detalle}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row sections-buttons">
        <div class="text-center"><button class="btn button-atras" (click)="Atras()">Atras</button></div>
        <div *ngIf="ValidarVista()" class="text-center"><button class="btn button-editar" (click)="EditarAnuncio(anuncio.id_anuncio)">Editar Anuncio</button></div>
    </div>
</div>
