<div class="modal-header">
    ¿ Que desea realizar ?
 </div>
 <div class="modal-body ">
     <div class="body-top">
        <button class="btn btn-actions btn-crear-usuario" (click)="CrearUsuario()">Crear usuario</button> 
        <button class="btn btn-actions btn-habilitar-usuario" (click)="HabilitarUsuario()">Habilitar usuario</button>
        <button class="btn btn-actions btn-habilitar-usuario" (click)="VerUsuarios()">Ver usuarios</button>
     </div>
 </div>
 <div class="modal-footer">
     <button type="button" class="btn btn-cancelar" (click)="Cancelar()">Cancelar</button>
 </div>