.image-top{
    width: 100%;
    margin-top: -70px;
    max-height: 370px;
    filter: brightness(50%);
}


.operation-section{
    background-color: #EDEDED;
    border-radius: 10px;
    padding: 10px;
}

.container{
    padding-top: 20px;
    margin-bottom: 20px;
}

.input-search{
    background-color: #FFFFFF;
    border-radius: 2px;
}

.btn-new{
    text-align: center;
}

.btn-new > a{
    background-color: #FB9130;
    border-radius: 100px;
    color: #FFFFFF;
    width: 100%;
    max-height: 40px;
}

.row-container{
    padding-top: 3px;
    margin-top: 10px;
}

.thead-viajes{
    background:#222222;
    color: white;
}

.btn-detalles{
    background-color: #FB9130; 
}

.btn-table{
    border-radius: 100px;
    color: #FFFFFF;
    float: right;
    margin-top: 4px;
}

.table th, .table td {
    vertical-align: middle;
}

@media (max-width: 992px) {
    .btn-new{
        padding: 0px;
    }
    
    .btn-new a{
        font-size: 0.85em;
    }
    
    .row-container{
        font-size: 0.85em;
    }
}

@media (max-width: 767px) {
    .box-card-parent{
        float: none;
        margin-left: auto;
        margin-right: auto; 
        max-width: 480px;
        min-width: 280px;
    }

    .btn-new{
        margin-top: 8px;
    }

    .btn-new > a{
        width: 40%;
    }

    .image-top{
        margin-top: -20px;
    }
}

@media (max-width: 576px){
    .input-search{
        margin-bottom: 8px;
    }

    .operation-section{
        margin: 5px;
    }

    .row-container{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 367px){
    .btn-new > a{
        width: 60%;
    }
}