.modal-header{
    justify-content: center;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
}

.modal-body{
    text-align: center;
    padding-top: 0px;
}

.modal-footer{
    padding-top: 7px;
    padding-bottom: 7px;
}

.btn{
    border-radius: 100px;
}

.btn-actions{
    background: #ffffff;
    color: #222222;
    border: 1px solid #FB9130;
    font-size: 0.85em;
    width: 30%;
}

.modal-body .btn:hover{
    background-color: #222222;
    color: #FB9130;
}

.btn-cancelar{
    background: #FB9130;
    color: #ededed;
}

.btn-cancelar:hover{
    color: #ffffff;
}


@media (max-width: 992px) {
    .modal-body .btn{
        margin-bottom: 5px;
        width: 100%;
    }

}

@media (min-width: 992px) {
    .body-top{
        margin-bottom: 8px;
    }
    
}

@media (min-width: 510px) {
    .btn-actions{
        margin-right: 5px;
        margin-left: 5px;
    }
}