

<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Restablecer Contraseña</h1>
        </div>
    </div>
    <div class="row columna-container">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 for="password" class="input-title">Nueva Contraseña</h1>
                    <input [type]="verPassword ? 'text' : 'password'"  name="password" class="input-form-sesion form-control" [(ngModel)]="password" (ngModelChange)="ValidarEntrada('password')">
               
                    <div *ngIf="!validacion.password" class="text-danger">{{mensajeErrorValidacion.password}}</div>   
                </div>
                <div class="col-12 ver-password-sections">
                    <a (click)="verPassword=!verPassword">Ver Contraseña</a>
                </div>
                <div class="col-12">
                    <h1 for="confirmacion_password" class="input-title">Confirmar Contraseña</h1>
                    <input [type]="verConfirmacionPassword ? 'text' : 'password'"  name="confirmacion_password" class="input-form-sesion form-control" [(ngModel)]="confirmacion_password" (ngModelChange)="ValidarEntrada('confirmacion_password')">
                    <div *ngIf="!validacion.confirmacion_password" class="text-danger">{{mensajeErrorValidacion.confirmacion_password}}</div>   
                </div>
                <div class="col-12 ver-password-sections">
                    <a (click)="verConfirmacionPassword=!verConfirmacionPassword">Ver Contraseña</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div *ngIf="!validacion.error" class="text-danger">{{mensajeErrorValidacion.error}}</div>   
                </div>
            </div>
            <div class="row sections-buttons">
                <div class="text-center"><button class="btn button-cancelar" (click)="Cerrar()">Cerrar</button></div> 
                <div class="text-center"><button class="btn button-restablecer" (click)="RestablecerPassword()" >Restablecer</button></div>
            </div>
        </div>        
    </div>
</div>





