

<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row columna-container">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 for="password" class="input-title">Nueva Contraseña</h1>
                    <input type="text"  name="password" class="input-form-sesion form-control" [(ngModel)]="password" (ngModelChange)="ValidarEntrada('password')">
                    <div *ngIf="!validacion.password" class="text-danger">{{mensajeErrorValidacion.password}}</div>   
                </div>
                <div class="col-12">
                    <h1 for="confirmacion_password" class="input-title">Confirmar Contraseña</h1>
                    <input type="confirmacion_password"  name="confirmacion_password" class="input-form-sesion form-control" [(ngModel)]="confirmacion_password" (ngModelChange)="ValidarEntrada('confirmacion_password')">
                    <div *ngIf="!validacion.confirmacion_password" class="text-danger">{{mensajeErrorValidacion.confirmacion_password}}</div>   
                </div>
            </div>
            <div class="row sections-buttons">
                <div class="div-button-entrar"><button class="btn button-entrar" (click)="RestablecerPassword()">Restablecer</button></div>
            </div>
        </div>        
    </div>
</div>





