.btn-cancelar{
    background: #FB9130;
    color: #ededed;
}

.btn-cancelar:hover{
    color: #ffffff;
}

.modal-body > .btn:hover{
    background-color: #222222;
    color: #FB9130;
}

.modal-body > .btn{
    background: #ffffff;
    color: #222222;
    border: 1px solid #FB9130;
    font-size: 0.85em;
    width: 30%;
}

.btn{
    border-radius: 100px;
}

.modal-body{
    text-align: center;
    padding-top: 0px;
}

.modal-header{
    justify-content: center;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
}

.modal-footer{
    padding-top: 7px;
    padding-bottom: 7px;
}

.input-title{
    font-size: 1em;
    margin-top:12px;
    color: #495057;
}

.change-ubication-section{
    border-top: 1px solid #dee2e6;
    margin-top: 10px;
}

.btn-change-ubication{
    border: 1px solid #FB9130;
    background-color: #ffffff;
    color: #222222;
}

.btn-change-ubication:hover{
    background-color: #222222;
    color: #FB9130;
}

@media (max-width: 510px) {
    .modal-body > .btn{
        margin-bottom: 5px;
        width: 100%;
    }
}

@media (min-width: 510px) {
    .btn-registrar-pasaje{
        margin-right: 5px;
        margin-left: 5px;
    }
}
