.logo-image-santana{
    width: 68px;
    margin-top: -10px;
    margin-right: 10px;
}

.title-main{
    font: bold;
    font-size: 0.90em;
    color: #4E4E4E;
    text-decoration: none;
    padding-top: 25px;
}

.title-main:hover{
	color:#ff8201;
	opacity:1;
	text-decoration: none;
}

.main-header .header-top .ubication-icon, .cellphone-icon, .office-icon{
	max-width: 18px;
    margin-right: 5px;
}

.clearfix{
    margin-bottom: 0px;
}

.top-right > ul > li{
    margin-right: 60px;
}

.navbar-toggler{
    background-color: #ff8201;
    outline: none;

}

.navbar-toggler-label{
    font-size: 0.70em;
    color: #FFFFFF;
    margin-left: 8px;
    margin-bottom: 0px;
}


.button-image-toggler{
    max-width: 22px;
}

.hidden-bar-opener{
    margin-right: 10px;
}

.logo-box{
	position:relative;
	float:left;
	left:0px;
	padding:10px 0px;
	z-index:10;	
}

.menu-navbar{
    font-family: 'Catamaran', sans-serif;
}

.ul-navbar > li{
    padding-top: 7px;
}

.ul-navbar > li > a {
    text-transform: uppercase;
    font-size: 0.90em;
    color: #777777;
    font-weight: 700;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
}

/* .collapse > ul > li{
    margin-right: 12px;
} */

.navbar-nav > li:hover > a,
.navbar-nav > li.active > a,
.navbar-nav > li.active-menu-item > a{
	color:#ff8201;
	opacity:1;
	text-decoration: none;
}

.dropdown-menu{
    border-top: 3px solid #ff8201;
    padding-top: 0px;
    box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
    margin-right: -15px; 
    /* float: right;
    margin-top: 40px;
    width: 30%;*/
    
}

.dropdown-menu > li {
    position: relative;
    padding: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    list-style: none;
}

.dropdown-menu > li > a {
    display: block;
    padding: 10px 15px;
    line-height: 24px;
    font-size: 14px;
    text-transform: capitalize;
    color: #272727;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    text-decoration: none;
}

.dropdown-menu > li:hover > a
{   color: #FFFFFF;
    background-color: #ff8201;
} 

.btn-opcines-administrador, .btn-cerrar-sesion{
    cursor: pointer;
}

@media (max-width: 427px){
    .title-main{
        font-size: 13px;
    }
    .navbar-toggler-label{
        font-size: 0.55em;
    }
}

@media (max-width: 882px){
    .top-right > ul > li{
        margin-right: 18px;
    }
}

@media (max-width: 932px){
    .top-right > .clearfix{
        padding: 0px;
    }
}

@media only screen and (max-width: 499px) {
	.logo-box .logo img{
		max-width:70%;	
	}	

}


@media (max-width: 452px){
    
    .logo-image-santana{
        width: 48px;
    }
}



@media only screen and (max-width: 1023px){
	.logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:200px;
		margin:0px;
		text-align:left;
        min-width: 60%;
	}
/* 
    .collapse{

        display: none !important;

    }

    .navbar{
        justify-content: space-between !important;
    }

    .navbar-expand-lg .navbar-toggler{
        display: block !important;
    } */

    /* .navbar-expand-lg {
        padding-right: 100px;
    } */
}

@media only screen and (max-width: 991px){
    .navbar-expand-lg {
        padding-right: 20px;
    }
}

@media only screen and (min-width: 768px){
   .office-bar{
    padding-right: 80px;
   }
   .nav-bar-info{
       font-size: 0.85em;
   }
}

@media only screen and (min-width: 1485px){
    .nav-bar-info{
        font-size: 1em;
    }
}

@media only screen and (max-width:540px){
    .nav-bar-info{
        font-size: 0.55em;
    }
}

@media (min-width: 573px) and (max-width: 992px) {
    .navbar-toggler, .ul-navbar{
        margin-right: 40px;
    }

 }


 















