<div class="navbar-component">
    <header class="main-header header-style-one">
        <div class="header-top">
            <div class="auto-container">            
                <div class="clearfix">
                    <!-- 
                    <div class="top-left">
                        <ul class="clearfix">
                            <li> <img class="ubication-icon" src="../../../assets/imagenes/marcador-de-posicion.png" alt="">Calle Jorge Nacif Landivar Esq. Circunvalacion</li>
                            <li> <img class="cellphone-icon" src="../../../assets/imagenes/llamada-de-telefono-inteligente.png" alt="">+71234567</li>
                        </ul>
                    </div>

                    <div class="top-right">
                        <ul class="clearfix">
                            <li> <img class="office-icon" src="../../../assets/imagenes/chinchetas.png" alt="">Oficina Santa Ana</li>
                        </ul>
                    </div> -->
                    <div class="col">
                        <div class="row nav-bar-info">
                            <div class="col-12 col-md-3 ubication-bar text-center text-md-right">
                                <img class="ubication-icon" src="../../../assets/imagenes/marcador-de-posicion.png" alt="">Calle Jorge Nacif Landivar Esq. Circunvalacion
                            </div>
                            <div class="col-12 col-md-3 phone-bar text-center text-md-left">
                                <img class="cellphone-icon " src="../../../assets/imagenes/llamada-de-telefono-inteligente.png" alt="">+71234567
                            </div>
                            <div class="col-12 col-md-6 office-bar text-center text-md-right">
                                <img class="office-icon" src="../../../assets/imagenes/chinchetas.png" alt="">Oficina Santa Ana
                            </div>
                        </div>  
                    </div>
                </div>
                
            </div>
        </div>
        <div class="main-box">
            <div class="auto-container">
                <div class="outer-container clearfix">
                    <nav class="navbar navbar-expand-lg navbar-light menu-navbar">
                        <div href="/" class="logo-box">
                            <div class="logo">
                                <a href="" class="title-main"><img class="logo-image-santana" src="../../../assets/imagenes/logo_terminal.png" alt="">Terminal de Buses</a>
                            </div>
                        </div>
                    
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <img src="../../../assets/imagenes/hide-icon-menu.png" class="button-image-toggler">
                            <label class="navbar-toggler-label">MENU</label> 
                        </button>

                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav ml-auto ul-navbar">
                                <!-- <li *ngIf="usuario===null" class="nav-item active"><a href="/viajes" class="nav-link float-right">Salidas</a></li>
                                <li *ngIf="usuario===null" class="nav-item"><a href="/encomiendas" class="nav-link float-right">Encomiendas</a></li>
                                <li *ngIf="usuario===null" class="nav-item"><a href="/reservas" class="nav-link float-right">Reservas</a></li> -->
                                <li  class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Servicios
                                    </a>
                                    <ul class="dropdown-menu" >
                                        <li  *ngIf="usuario===null" class="dropdown-item"><a href="/viajes">Viajes</a></li>
                                        <li  *ngIf="usuario===null" class="dropdown-item"><a href="/encomiendas">Encomiendas</a></li>
                                        <li  *ngIf="usuario===null" class="dropdown-item"><a href="/reservas">Reservas</a></li>
                                        <li  *ngIf="usuario===null" class="dropdown-item"><a href="/anuncios">Anuncios</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/viajes']" [queryParams]="{id_sindicato: sindicatoUsuario}">Viajes</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/encomiendas']" [queryParams]="{id_sindicato: sindicatoUsuario}">Encomiendas</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/reservas']" [queryParams]="{id_sindicato: sindicatoUsuario}">Reservas</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/anuncios']" [queryParams]="{id_sindicato: sindicatoUsuario}">Anuncios</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/pasajes']" [queryParams]="{id_sindicato: sindicatoUsuario}">Pasajes</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/turnos']" [queryParams]="{id_sindicato: sindicatoUsuario}">Turnos</a></li>
                                        <li *ngIf="usuario!=null" class="dropdown-item"><a [routerLink]="['/conductores']" [queryParams]="{id_sindicato: sindicatoUsuario}">Conductores</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sindicatos
                                    </a>
                                    <ul class="dropdown-menu" >
                                        <li class="dropdown-item"><a (click)="AbrirServicioSindicatos(4)">Yacuma</a></li>
                                        <li class="dropdown-item"><a (click)="AbrirServicioSindicatos(1)">1º Mayo</a></li>
                                        <li class="dropdown-item"><a (click)="AbrirServicioSindicatos(2)" >12 de Marzo</a></li>
                                        <li class="dropdown-item"><a (click)="AbrirServicioSindicatos(3)">Movima</a></li>
                                    </ul>
                                </li>
                                <li *ngIf="usuario===null" class="nav-item"><a href="/sesion/inicio-sesion" class="nav-link float-right">Iniciar Sesion</a></li>
                                <li *ngIf="rol==='administrador' || rol==='superadministrador'" class="nav-item"><a (click)="AbrirModalAdministrador()" class="nav-link float-right btn-opcines-administrador">Administrar</a></li>
                                <li *ngIf="usuario!=null" class="nav-item"><a (click)="CerrarSesion()" class="nav-link float-right btn-cerrar-sesion">Cerrar Sesion</a></li>

                            </ul>
                        </div>
                    </nav>
                </div>    
            </div>
        </div>
    </header>
</div>

