
<header class="main-header header-style-one">
    <div class="header-top">
        <div class="auto-container">            
            <div class="clearfix">

                <div class="top-left">
                    <ul class="clearfix">
                        <li> <img class="ubication-icon" src="../../../assets/imagenes/marcador-de-posicion.png" alt="">Calle Jorge Nacif Landivar Esq. Circunvalacion</li>
                        <li> <img class="cellphone-icon" src="../../../assets/imagenes/llamada-de-telefono-inteligente.png" alt="">+71234567</li>
                    </ul>
                </div>

                <div class="top-right">
                    <ul class="clearfix">
                        <li> <img class="office-icon" src="../../../assets/imagenes/chinchetas.png" alt="">Oficina Santa Ana</li>
                    </ul>
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <div href="/" class="logo-box">
                    <div class="logo">
                        <a href="" class="title-main"><img class="logo-image-santana" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="">Terminal de Buses</a>
                    </div>
                </div>
    
                <div class="nav-outer clearfix">
                    <nav class="main-menu">
                        <div class="navbar navbar-expand-lg">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="#">Principal</a></li>
                                <li><a href="about.html">Encomiendas</a></li>
                                <li><a href="services.html">Reservas</a></li>
                                <li><a href="#">Mi Viaje</a></li>
                                <li class="dropdown"><a href="#">Sindicatos</a>
                                    <ul>
                                        <li><a href="/servicio-sindicato">Yacuma</a></li>
                                        <li><a href="/servicio-sindicato">1º Mayo</a></li>
                                        <li><a href="/servicio-sindicato">12 de Marzo</a></li>
                                        <li><a href="/servicio-sindicato">Movima</a></li>
                                    </ul>
                                </li>
                             </ul>
                        </div>  
                    </nav>   
                </div>
  
                <div class="nav-toggler">     
                    <button class="hidden-bar-opener"> <img class="button-image-toggler" src="../../../assets/imagenes/hide-icon-menu.png" alt=""></button>
                </div>
                
            </div>    
        </div>
    </div>

</header>
