
<header class="main-header header-style-one">
    <div class="header-top">
        <div class="auto-container">            
            <div class="clearfix">

                <div class="top-left">
                    <ul class="clearfix">
                        <li> <img class="ubication-icon" src="../../../assets/imagenes/marcador-de-posicion.png" alt="">Calle Jorge Nacif Landivar Esq. Circunvalacion</li>
                        <li> <img class="cellphone-icon" src="../../../assets/imagenes/llamada-de-telefono-inteligente.png" alt="">+71234567</li>
                    </ul>
                </div>

                <div class="top-right">
                    <ul class="clearfix">
                        <li> <img class="office-icon" src="../../../assets/imagenes/chinchetas.png" alt="">Oficina Santa Ana</li>
                    </ul>
                </div>
                
            </div>
            
        </div>
    </div>


    <!-- <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <div href="/" class="logo-box">
                    <div class="logo">
                        <a href="" class="title-main"><img class="logo-image-santana" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="">Terminal de Buses</a>
                    </div>
                </div>
    
                <div class="nav-outer clearfix">
                    <nav class="main-menu">
                        <div class="navbar navbar-expand-lg">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="#">Principal</a></li>
                                <li><a href="about.html">Encomiendas</a></li>
                                <li><a href="services.html">Reservas</a></li>
                                <li><a href="#">Mi Viaje</a></li>
                                <li class="dropdown"><a href="#">Sindicatos</a>
                                    <ul>
                                        <li><a href="/servicio-sindicato">Yacuma</a></li>
                                        <li><a href="/servicio-sindicato">1º Mayo</a></li>
                                        <li><a href="/servicio-sindicato">12 de Marzo</a></li>
                                        <li><a href="/servicio-sindicato">Movima</a></li>
                                    </ul>
                                </li>
                             </ul>
                        </div>  
                    </nav>   
                </div>
  
                <div class="nav-toggler">     
                    <button class="hidden-bar-opener"> <img class="button-image-toggler" src="../../../assets/imagenes/hide-icon-menu.png" alt=""></button>
                </div>
                
            </div>    
        </div>
    </div>   -->
     
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <nav class="navbar navbar-expand-lg navbar-light menu-navbar">
                    <div href="/" class="logo-box">
                        <div class="logo">
                            <a href="" class="title-main"><img class="logo-image-santana" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="">Terminal de Buses</a>
                        </div>
                    </div>
                    
                  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto ul-navbar">
                            <li class="nav-item active"><a href="#" class="nav-link float-right">Principal</a></li>
                            <li class="nav-item"><a href="about.html" class="nav-link float-right">Encomiendas</a></li>
                            <li class="nav-item"><a href="services.html" class="nav-link float-right">Reservas</a></li>
                            <li class="nav-item"><a href="#" class="nav-link float-right">Viajes</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sindicatos
                                </a>
                                <ul class="dropdown-menu" >
                                    <li class="dropdown-item"><a href="/servicio-sindicato">Yacuma</a></li>
                                    <li class="dropdown-item"><a href="/servicio-sindicato" >1º Mayo</a></li>
                                    <li class="dropdown-item"><a href="/servicio-sindicato" >12 de Marzo</a></li>
                                    <li class="dropdown-item"><a href="/servicio-sindicato">Movima</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>    
        </div>
    </div>
    
    <!-- <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                    <div class="container">
                        <div href="/" class="logo-box">
                            <div class="logo">
                                <a href="" class="title-main"><img class="logo-image-santana" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="">Terminal de Buses</a>
                            </div>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span> Menu
                        </button>
                        <div class="collapse navbar-collapse" id="ftco-nav">
                            <ul class="navbar-nav ml-auto mr-md-3">
                                <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Accessories</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Products</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                                <li class="dropdown nav-item d-md-flex align-items-center">
                                    <a href="#" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-shopping-cart"></i>
                                        <b class="caret"></b>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Separated link</a>
                                    <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item">One more separated link</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>    
        </div>
    </div>   -->
    
</header>
