
<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Detalles Encomienda</h1>
        </div>
    </div>
    <div class="row columna-container">
        <div class="col">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="col-12">
                        <p><strong>Id Encomienda:</strong> {{encomienda.id_encomienda}}</p>                
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="col-12">
                        <p><strong>Fecha:</strong> {{encomienda.viaje?.fecha | date:'dd MMM yyyy':'+0200':'es-AR'}}</p>                
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-12 text-center">
                        <p [ngClass]="{'p-ubication-origen': encomienda.viaje?.ubicacion === 'En Origen',
                        'p-ubication-carretera': encomienda.viaje?.ubicacion === 'En Carretera', 
                        'p-ubication-destino': encomienda.viaje?.ubicacion === 'En Destino'}"
                        ><strong>Ubicacion:</strong> {{encomienda.viaje?.ubicacion}}</p>                
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="col-12">
                        <p><strong>Conductor:</strong> {{encomienda.viaje?.conductore?.nombre}} {{encomienda.viaje?.conductore?.apellido_paterno}}</p>                
                    </div>
                    <div class="col-12">
                        <p><strong>Origen:</strong> {{encomienda.viaje?.origen}}</p>                
                    </div>
                    <div class="col-12">
                        <p><strong>Destino:</strong> {{encomienda.viaje?.destino}}</p>                
                    </div>
                    <div class="col-12">
                        <p><strong>Hora Salida:</strong> {{encomienda.viaje?.hora_salida}}</p>                
                    </div>
                    <div class="col-12">
                        <p><strong>Hora Llegada:</strong> {{encomienda.viaje?.hora_llegada}}</p>                
                    </div>
                </div>
                
                <div class="col-12 col-sm-6">
                    <div class="col-12">
                        <p><strong>Cliente:</strong> {{encomienda.nombre_cliente}}</p>        
                    </div>
                    <div class="col-12">
                        <p><strong>Sindicato:</strong> {{encomienda.viaje?.conductore?.sindicato.nombre}}</p>                              
                    </div>
                    <div class="col-12">
                        <p><strong>Celular:</strong> {{encomienda.celular_cliente}}</p>         
                    </div>  
                    <div class="col-12">
                        <p><strong>Monto Pago:</strong> {{encomienda.monto_pago}}</p>           
                    </div>
                    <div class="col-12">
                        <p><strong>Pagada:</strong> {{encomienda.pagada===true? "Pagada" : "Por pagar"}}</p>           
                    </div>   
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <p><strong>Detalle:</strong> {{encomienda.detalle}}</p>        
                    </div>
                </div>
            
            </div>
            <div class="row sections-buttons">
                <div class="text-center"><button class="btn button-atras" (click)="Atras()">Atras</button></div>
                <div *ngIf="ValidarVista()" class="text-center"><button class="btn button-editar" (click)="Editar(encomienda.id_encomienda,encomienda.id_viaje)">Editar</button></div>
                <div *ngIf="ValidarVista()" class="text-center"><button class="btn button-ver-recibo" (click)="VerRecibo(encomienda.id_encomienda)">Ver Recibo</button></div>
            </div>
        </div>        
    </div>
</div>
