<footer class="main-footer">
    	
        
    <!--Footer Bottom-->
     <div class="footer-bottom">
         <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <ul class="footer-nav">
                        <li><img class="escudo-santana-footer-image" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="" /></li>
                        <li>Gracias por visitar nuestro paraiso terrenal.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                    <div class="copyright">Copyright &copy; 2022 All Rights Reserved. GAMSA</div>
                </div>
            </div>
        </div>
    </div>
</footer>