<!-- <div class="footer-component">
   <footer class="main-footer">
         <div class="footer-bottom">
             <div class="auto-container">
               <div class="row clearfix">
                    <div class="col-md-6 col-sm-6 col-xs-4">
                        <ul class="footer-nav">
                            <li><img class="escudo-santana-footer-image" src="../../../assets/imagenes/ESCUDO_SANTA_ANA_DEL_YACUMA.png" alt="" /></li>
                            <li>Gracias por visitar nuestro paraiso terrenal.</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-4 text-right">
                        <div class="copyright">Copyright &copy; 2022 All Rights Reserved. GAMSA</div>
                    </div>
              
                </div>
               
            </div>
            
        </div> 
        
    </footer>
</div> -->

<footer class="main-section-footer" >
    <div class="container top-footer-section">
        <section class="image-section-footer">
            <div class="row">
                <div class="col-lg-2 col-4 mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje1.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-1"
                    />
                </div>
                <div class="col-lg-2 col-4  mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje2.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-2"
                    />
                </div>
                <div class="col-lg-2 col-4 mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje3.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-3"
                    />
                </div>
                <div class="col-lg-2 col-4 mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje4.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-4"
                    />
                </div>
                <div class="col-lg-2 col-4 mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje5.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-5"
                    />
                </div>
                <div class="col-lg-2 col-4 mb-4 col-img">
                    <img
                        src="../../../assets/imagenes/paisaje6.jpg"
                        class="w-100 img-fot"
                        alt="image-footer-6"
                    />
                </div>
            </div>
        </section>
    </div>

    <div class="footer-copyright-section">
        © Copyright 2022 All Rights Reserved. GAMSA
    </div>
</footer>