
<div class="image-container">
    <img src="../../../../../assets/imagenes/mamaCortada.jpg" alt="" class="image-top">
</div>

<div class="container">
    <div class="row top-row-ubication">
        <div class="col-12 col-ubicacion">
            <h1>Recibo Encomienda</h1>
        </div>
    </div>
    <div class="col columna-container" id="recibo-encomienda">
        <div class="row justify-content-between">
            <div class="col-12 col-sm-4">
                <p><strong>Encomienda No: </strong>{{encomienda.id_encomienda}}</p>
                <p><strong>Fecha: </strong>{{encomienda?.viaje?.fecha| date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-12 col-sm-7">
                <p class="text-md-right"><strong>Terminal de Buses {{encomienda?.viaje?.conductore?.sindicato?.ciudad}}, Sindicato: </strong>{{encomienda?.viaje?.conductore?.sindicato?.nombre}}</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-12 col-sm-4">
                <strong>Info. Encomienda</strong>
                <p>Cliente: {{encomienda.nombre_cliente}}</p>
                <p>Celular: {{encomienda.celular_cliente}}</p>
                <p>CI: {{encomienda.carnet_cliente}}</p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="text-md-right"><strong >Info. Sindicato</strong></p>
                <p class="text-md-right">Sindicato: {{encomienda?.viaje?.conductore?.sindicato?.nombre}}</p>
                <p class="text-md-right">Ciudad: {{encomienda?.viaje?.conductore?.sindicato?.ciudad}}<p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="text-md-right"><strong>Desde: </strong>{{encomienda?.viaje?.origen}}</p>
                <p class="text-md-right"><strong>A: </strong>{{encomienda?.viaje?.destino}}</p>
                <p class="text-md-right"><strong>Cliente: </strong>{{encomienda.nombre_cliente}}</p>
                <p class="text-md-right"><strong>Cantidad Bultos: </strong>{{encomienda.cantidad_bultos}}</p>
                
            </div>
            <div class="col-12 col-sm-6">
                <p><strong>Salida: </strong>{{encomienda?.viaje?.hora_salida}}</p>
                <p><strong>Llegada: </strong>{{encomienda?.viaje?.hora_llegada}} </p>
                <p><strong>Numero Viaje: </strong>{{encomienda?.viaje?.id_viaje}}</p>
                <p><strong>Fecha: </strong>{{encomienda?.viaje?.fecha| date:'dd/MM/yyyy'}}</p>
            
                
            </div>
            <div class="col-12">
                <p><strong>Detalle: </strong>{{encomienda.detalle}}</p>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive box-card-parent">
                <table aria-describedby="tabla-detalle-recibo-encomienda" class="table table-striped">
                    <thead class="thead-encomienda">
                    <tr>
                        <th scope="col">Detalle</th>
                        <th scope="col">Monto</th>
                        <th class="text-right" scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col">Encomiendas</th>
                        <th scope="col">{{encomienda.monto_pago}}</th>
                        <th class="text-right" scope="col">{{encomienda.monto_pago}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-3">
                <p class="text-right"><strong>TOTAL</strong></p>
            </div>
            <div class="col-4">
                <p class="text-right"><strong>{{encomienda.monto_pago}} BS</strong></p>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <p><strong>NOTA:</strong></p>
                <p>EL presente documento tiene valor a nivel nacional respaldado por el sindicato.</p>
            </div>
        </div>

    </div>
    <div class="row sections-buttons">
        <div class="text-center"><button class="btn button-cancelar" (click)="Cancelar()">Cancelar</button></div>
        <div class="text-center"><button class="btn button-imprimir" (click)="Imprimir()">Imprimir</button></div>
        <div class="text-center"><button class="btn button-descargar" (click)="ExportarPDF()">Descargar PDF</button></div>
    </div>
</div>

